{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>Todo app</h1>
    <a href="/todoapp/create"><button>New Task</button></a>

    <table>
      <tr>
        <th>Sr.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>

      {% for item in todo %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.desc }}</td>
        <td>
          <a href="/todoapp/edit/{{item.id}}"><button>Edit</button></a>
        </td>
        <td>
          <a href="/todoapp/delete/{{item.id}}"><button>Delete</button></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
